# LAS ROZAS
CONSUMER_KEY_LASROZAS=""
CONSUMER_SECRET_LASROZAS=""
ACCESS_TOKEN_LASROZAS=""
ACCESS_TOKEN_SECRET_LASROZAS=""
# Sort by casos_confirmados_totales instead of fecha_informe because of https://github.com/ckan/ckan/pull/4288
COVID_URL_LASROZAS='https://datos.comunidad.madrid/catalogo/api/3/action/datastore_search?resource_id=43708c23-2b77-48fd-9986-fa97691a2d59&fields=zona_basica_salud,fecha_informe,casos_confirmados_ultimos_14dias,tasa_incidencia_acumulada_ultimos_14dias,casos_confirmados_totales,tasa_incidencia_acumulada_total&include_total=false&sort=casos_confirmados_totales%20desc&limit=1&filters={{"zona_basica_salud":"{zona}"}}'

