# LAS ROZAS
CONSUMER_KEY_LASROZAS=""
CONSUMER_SECRET_LASROZAS=""
ACCESS_TOKEN_LASROZAS=""
ACCESS_TOKEN_SECRET_LASROZAS=""
COVID_URL_LASROZAS="https://datos.comunidad.madrid/catalogo/dataset/b3d55e40-8263-4c0b-827d-2bb23b5e7bab/resource/43708c23-2b77-48fd-9986-fa97691a2d59/download/covid19_tia_zonas_basicas_salud_s.csv"
COVID_CSV="./covid19-las-rozas.csv"
JSON_FILE="./covid19-las-rozas.json"